@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">An Introductory Course on My Hobby: Protective Styling </h1>
    <br />
    <h3>Embrace Healthier, Happier Hair!</h3>
    <br />
    <br />
    <h3 style="text-align:left">What is Protective Styling? </h3>
    <div class="image-container">
        <img src="~/img/hairtypes2.jpeg" class="circular-image" />
        <img src="~/img/hairtypes.jpeg" class="circular-image" />
    </div>
    <p>For 'textured hair' or kinky-curly hair types, protective styling is a critical part of the hair care regimen aimed at preserving the health of hair by reducing knots and tangles and retaining moisture.
        <br />
        For individuals with coily, curly, or kinky hair types, these styles not only protect the hair from mechanical and environmental stressors but also help in managing hair more efficiently by reducing the need for daily styling. 
        <br />
        These styles keep the hair stretched and tucked away, which helps in maintaining length due to less breakage. Although there are many different styles, most people refer to protective styles generally as braids.  </p>

    <h3 style="text-align:left">Different Kinds of Protective Styles </h3>

    <p style="text-align:left">These styles come in a variety of forms, each with unique benefits and aesthetic appeals</p>
    <div class="image-container">
        <img src="~/img/braids2.jpeg" class="circular-image" />
        <img src="~/img/braids.jpeg" class="circular-image" />
    </div>
    <ul>
        <li style="text-align:left">Box braids: box braids are a popular and versatile hairstyle that offers both aesthetic appeal and protective benefits for hair. 
            <br />
            These braids are created by sectioning the hair into small, square-shaped parts and then braiding synthetic or natural hair extensions into each section. 
            <br />
            The result is a stylish and low-maintenance look that can be customized with different lengths, colors, and braid sizes</li>
    </ul>
    <div class="image-container">
        <<img src="~/img/cornrowsM.jpeg" class="circular-image" />
        <img src="~/img/stitch.jpeg" class="circular-image" />
    </div>
    <ul>
        <li style="text-align: left">Cornrows: Cornrows are a classic and culturally significant hairstyle characterized by braiding the hair close to the scalp in narrow, raised rows.
            <br />
            Cornrows can be styled in various patterns and designs, allowing for creative and intricate looks. 
            <br />
            Beyond their aesthetic value, cornrows are also a protective hairstyle that helps to maintain the health and integrity of the hair by minimizing tangling and reducing the need for daily styling. 
            <br />
            Additionally, cornrows offer the versatility to add extensions, beads, or other adornments, making them a timeless and culturally rich hair styling option.</li>
    </ul>
    <div class="image-container">
        <img src="~/img/twistsM.jpeg" class="circular-image" />
        <<img src="~/img/twistsW.jpeg" class="circular-image" />
    </div>
    <ul>
        <li style="text-align:left">
            Twists: Twists are a stylish and versatile hairstyle that involves twisting two strands of hair together to create a rope-like appearance.
            <br />
            This protective hairstyle can be achieved using natural hair or extensions, offering flexibility in length, thickness, and texture.
            <br />
            Twists provide a low-maintenance and elegant look, while also promoting the health of fragile tighly curled hair by reducing manipulation and protecting the hair from environmental stressors.
        </li>
    </ul>
    <br />
    <p>These are just a few well known styles that fall under this category. They are also some of my favorite styles to do! </p>
</div>

<footer class="border-top footer text-muted">
    <div class="container" style="text-align:center">
        &copy; 2024 - ProtectiveStylingApp | Built by Oluchi Ochulo | Email: ochulosusan02@gmail.com - <a asp-area="" asp-controller="Home" asp-action="Lessons">Lessons</a>
    </div>
</footer>
